# dependencies
/node_modules

# production
/build
/dist
/.next
/out

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# coverage
/coverage

# IDE
.vscode/
.idea/

# temporary files
*.tmp
*.temp

# lock files (jeśli używasz jednego managera, drugi możesz ignorować)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
